@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    @apply text-2xl font-bold  tracking-wider	
}

h4{
    @apply text-lg font-bold 
}
h5{
    @apply text-lg font-bold
}
a{
    @apply text-base font-semibold text-blue-400
}
h6{
    @apply text-sm text-zinc-500 dark:text-white
}
p{
    @apply text-base text-zinc-600 dark:text-white tracking-wide
}
.count{
    @apply text-xl text-black dark:text-white font-bold
}